.logoL{
    max-width: 140px;
    position: absolute;
    top: 2px;
}
.imagens {
    position: absolute;
    left: 291px;
    top: 400px;
}
.nome {
    position: absolute;
    left: 612px;
    top: 70px;
}
.hist {
    position: absolute;
    left: 450px;
    top: 197px;
}
.imag {
    position: absolute;
    left: 606px;
    top: 330px;
}
.nami0{
    max-width: 163px;
}
.nami1{
    max-width: 150px;
}
.nami2{
    max-width: 150px;
}
.nami3{
    max-width: 176px;
}